<h2>Add a new car type</h2>
<form method="post">
  <div class="mb-3">
    <label for="registrationNr" class="form-label">Registration #</label>
    <input
      class="form-control"
      name="registrationNr"
      id="registrationNr"
      required
    />
  </div>
  <div class="mb-3">
    <label for="manufacturingYear" class="form-label">Manufacturing Year</label>
    <input
      class="form-control"
      type="number"
      name="manufacturingYear"
      id="manufacturingYear"
      required
    />
  </div>
  <div class="mb-3">
    <label for="pricePerDay" class="form-label">Price/day</label>
    <input
      class="form-control"
      type="number"
      name="pricePerDay"
      id="pricePerDay"
      required
    />
  </div>
  <div class="mb-3">
    <label for="color" class="form-label">Color</label>
    <select class="form-select" name="color" id="color">
      <option value="white">White</option>
      <option value="black">Black</option>
      <option value="gray">Gray</option>
      <option value="red">Red</option>
      <option value="pink">Pink</option>
      <option value="blue">Blue</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="carType" class="form-label">Car type</label>
    <select class="form-select" name="carType" id="carType">
      {{#each carTypes}}
        <option value="{{this.ID}}">{{this.producer}} {{this.name}}</option>
      {{/each}}
    </select>
  </div>
  <div class="mb-3">
    <label for="agency" class="form-label">Agency</label>
    <select class="form-select" name="agency" id="agency">
      {{#each agencies}}
        <option value="{{this.ID}}">{{this.name}}</option>
      {{/each}}
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>